<div *ngIf="hino != undefined" class="hino">
  {{nome}}
  <div [innerHTML]="letra"></div>
  <a class="button fancy-button" (click)="clear()"><i  class="material-icons">home</i>Voltar</a>
</div>
<div *ngIf="hino == undefined" class="hino">
  Assembleia de Deus<br />
  Ministério Resplendor<br />
  <br />
  {{nome}} <br>
  <a class="button fancy-button" (click)="add(1)">1</a>
  <a class="button fancy-button" (click)="add(2)">2</a>
  <a class="button fancy-button" (click)="add(3)">3</a><br />
  <a class="button fancy-button" (click)="add(4)">4</a>
  <a class="button fancy-button" (click)="add(5)">5</a>
  <a class="button fancy-button" (click)="add(6)">6</a><br />
  <a class="button fancy-button" (click)="add(7)">7</a>
  <a class="button fancy-button" (click)="add(8)">8</a>
  <a class="button fancy-button" (click)="add(9)">9</a><br />
  <a class="button fancy-button" (click)="clear()"><i  class="material-icons">clear</i></a>
  <a class="button fancy-button" (click)="add(0)">0</a>
  <a class="button fancy-button" (click)="show()"><i  class="material-icons">done</i></a><br />
  <!-- <a class="button fancy-button" (click)="showAll()">mostrar todos</a><br /> -->
</div>
<div *ngIf="showingAll">
  <a *ngFor="let h of hinos; index as i">
    {{i}} 
  </a>
</div>

<router-outlet></router-outlet>
